# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Terraform crash logs
crash.log
crash.*.log

# Plans
*.tfplan

# Node / applications
**/node_modules/
applications/frontend/dist/
npm-debug.log*
.env
